#board-container {
    width: fit-content;
    background-color: #8D8984;
    margin: 50px auto;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #1f1e1d;
}

input[type="text"] {
    width: 92px;
    height: 94px;
    margin: 0 auto;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    border: solid #1f1e1d 1px;
    /* background-color: #1f1e1d; */
    /* color: transparent */
}


/* 
td {
    background-color: #1f1e1d;
    border: solid #1f1e1d;
}

table {
    border: solid #1f1e1d;
} */