body {
    background-color: #1f1d1d;
    font-family: 'Times New Roman', Times, serif;
}

#title-container {
    text-align: center;
    color: white;
}

#title-container h1 {
    font-size: 100px;
    margin-bottom: -30px;
}

#title-container p {}

#board-container {
    width: fit-content;
    background-color: #1f1d1d;
    margin: 50px auto;
}

.square {
    width: 97px;
    height: 98px;
    border-radius: 20px;
    background-color: #1f1d1d;
}

input[type="text"] {
    width: 92px;
    height: 94px;
    margin: 0 auto;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    border: solid #1f1e1d 1px;
    /* background-color: #1f1e1d; */
    /* color: transparent */
}


/* 
td {
    background-color: #1f1e1d;
    border: solid #1f1e1d;
}

table {
    border: solid #1f1e1d;
} */